body{
    margin: 0px;
    padding: 0px;
    border: 2px solid cyan;
    background-image: url("i1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
   
}

.nav {
    display: flex;
    padding: 16px 10px;
    border-bottom: 2px solid cyan;
    margin: 0px;
}

.nav-link {
    padding: 0px 10px;
}

.nav-right {
    margin-right: auto;
}

.footer {
    text-align: center;
    padding: 16px 10px;
    border-top: 2px solid cyan;
}


.logo {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium';
    font-size: 32px;
    padding: 10px 40px;
    color:black;
}

.btn-margin {
    margin: 5px;
}

.form-wrapper{
    margin: 10% 40%;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar {
    border-right: 2px solid black;
    padding: 5px;
}

.mainbar{
    padding: 20px;
}

.profile-wrapper {
    display: grid;
    grid-template-columns: auto auto;
}
a{
    color: midnightblue;
}
a:hover{
  color: aliceblue;
}
nav{
    z-index: 1;
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
  }
  .sidebar{
    z-index: 1;
    top: 0;
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
  }